<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601832734834-ebsb1ddoul18gp194bng3stgiemjhbu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601832734834-ebsb1ddoul18gp194bng3stgiemjhbu8</string>
	<key>API_KEY</key>
	<string>AIzaSyAwLlR6cuk0mm-EYvuXElRt42QqAiv6am0</string>
	<key>GCM_SENDER_ID</key>
	<string>601832734834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projekGet</string>
	<key>PROJECT_ID</key>
	<string>fir-21312130</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-21312130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601832734834:ios:d2ebccc48f06c1badc02eb</string>
</dict>
</plist>